body {
    font-family: 'Roboto', sans-serif;
}
/* giá trị mặc định cho image */
img {
    max-width: 100%;
    display: block;
    margin: auto;

}
.description, .rating {
    color: #ffd600;
}
.rating i {

}