html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Arial","sans-serif";
    color: #111111;
    font-size: 1rem;
    line-height: 1.6;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
}

.image {
    display: flex;
    justify-content: space-evenly;
}

.image img {
    padding: 10px;
}

.content1 {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/bf48ed0748c75a00aaa512bb/PA7BIF1x.jpg);
}

.header1 {
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    align-items: center;
    margin: 0px 97px;
}

.header1 img {
    height: 32px;
}

.header1 a {
    padding: 10px 20px;
    color: #999999;
    text-decoration: none;
    font-weight: 700;
}

.header1 a:hover {
    color: #111111;
}

.container-info {
    margin-left: 88px;
    display: flex;
}

.sub-info {
    flex: 0 0 60%;
    padding: 20px 30px;
}

.content1 .photo {
    flex: 0 0 40%;
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d4ee61f59c695343b3666ee6/z-min.jpg);
    background-position: 50% 50%;
    background-size: cover;
}

.info {
    display: flex;
}

.sub-info h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
    color: #312933;
}

.sub-info h3 {
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 2px;
    line-height: 36px;
}

.content2 {
    margin: 0px 67px;
}

.content2 h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.1;
    margin: 60px 77.5px 0px;
    text-align: center;
}

.title1 p {
    margin: 17px 25px 0px;
    text-align: center;
}

.title2 {
    display: flex;
    margin: 20px 0px 60px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.reason {
    padding: 30px;
    flex-basis: 25%;
}

.reason h1 {
    color: #f9e79b;
    font-size: 15.625rem;
    font-weight: 900;
    line-height: 1.1;
    margin: 0px 77.609px;
}

.reason h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: -213px auto 0;
    text-align: center;
    line-height: 1.2;
}

.reason p {
    margin: 40px 0px 70px;
    text-align: center;
}

.content3 {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/a376d6d1490757eb8b0aa529/5ae9c49e-7cad-c9e5-2446-718a68ef0cdb.jpg
    );
}

.container-content3 {
    margin-left: 97px;
    display: flex;

}

.content3 .photo {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/1b5890f34507521db4b625bc/3565087ff.jpg);
    flex: 0 0 50%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    max-width: 50%;
}

.content3 .text {
    padding: 30px;
    flex-basis: 50%;
}

.content3 h1 {
    color: #f1c50e;
    font-weight: 700;
    font-size: 3rem;
}

.content3 h5 {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 400;
}

.content3 p {
    margin-top: 36px;
    font-size: 1.125rem;
}

.source_img {
    color: #000000;
    margin: 22px 27px 0px 0px;
}

.content3 span {
    margin-top: 36px;
}

.more {
    padding: 10px 12px;
    background-color: #f1c50e;
    margin-top: 36px;
    width: 150px;
    text-align: center;
    font-weight: 700;
}

.more:hover {
    background-color: #fff;
}

.content4 {
    background-image: url(https://images02.nicepage.com/a1389d7bc73adea1e1c1fb7e/633c94b317fb5366b354d730/pexels-photo-3906049.jpeg);
    background-position: 0% 50.8%;
    background-size: 140%;
}

.text4 {
    padding: 30px;
    margin: 0px 97px;
    width: 720px;
}

.content4 h6 {
    font-size: 1.5rem;
    letter-spacing: 0;
    font-weight: 400;
    margin: 60px auto 0 0;
    color: #ffffff;
    line-height: 1.2;
}

.content4 p {
    margin: 20px auto 0 0;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.6;
    font-family: 'Open Sans',sans-serif;
}

.content4 h2 {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 3rem;
    margin: 20px auto 0 0;
    line-height: 1.1;
    color: #ffffff;
}

h1, h2, h3, h4, h5 {
    font-family: Roboto,sans-serif;
}

.detail {
    line-height: 2;
    margin: 20px 236px 60px 0 !important;
}

.content5 {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    margin: 40px 88px;
}

.text5 {
    flex: 1 1 70%;
    padding: 40px;
}

.content5 h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 30px;
    line-height: 1.1;
}

.content5 p {
    line-height: 1.8;
    font-size: 1rem;
    margin: 20px 0 0;
    font-family: 'Open Sans',sans-serif;
}

.freepik {
    letter-spacing: 1px;
    margin: 22px auto 0 0;
    color: #000000 !important;
}

.content5 .photo {
    background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/49c5cc4cfa7a576d8331768f/rfgd-min.jpg);
    flex: 0 0 30%;
    background-position: 50% 50%;
    background-size: cover;
}


.content6 h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 55px auto 0;
    line-height: 1.1;
    text-align: center;
}

.content6 p {
    text-align: center;
    width: 460px;
    margin: 20px auto 0;
    
}

.logo {
    margin: 26px 0px 55px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content7 {
    background-color: #000000;
    padding: 0px 97px;
    text-align: center;
}

.title7 {
    position: relative;
}

.title7 h1 {
    font-size: 9.375rem;
    font-weight: 900;
    margin: 18px auto 0;
    line-height: 1.1;
    color: #404040;
    font-family: 'Open Sans',sans-serif;
}

.title7 h2 {
    font-weight: 900;
    font-size: 3rem;
    width: auto;
    position: absolute;
    top: 50px;
    left: 370px;
    line-height: 1.1;
    color: #f1c50e
}

.info7 {
    display: flex;
    margin-right: 80px;
    justify-content: space-between;
}

.text7 {
    flex-basis: 35%;
    padding: 30px;
}

.text7 p {
    margin: 19px auto 0 0;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
}

i {
    margin: 30px auto 0 0;
    color: #f1c50e;
    font-size: 40px;
    position: absolute;
    top: -80px;
    left: 0px;
}

.text7 .icon {
    position: relative;
}

.text7 h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 auto 0 0;
    line-height: 1.1;
    color: #ffffff;
}

.text7 h6 {
    margin: 50px auto 0 0;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.2;
    text-align: left;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #111111;
}

.submit {
    padding: 30px;
    flex: 1;
    max-width: 100%;
    text-align: left;
}

input, textarea  {
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    background-color: transparent;
    color: inherit;
    padding: 10px 12px;
    width: calc(100% + 19px);
    margin: 20px;
    font-size: 1rem;
    font-weight: 500;
}

.tick {
    position: absolute;
    top: -13px;
    left: -320px
}

.accept {
    position: relative;
}

.complete {
    margin: 20px 26px;
    color: #111111;
    background-color: #f1c50e;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
}

.footer {
    color: #ffffff;
    background-color: #333333;
    text-align: center;
}

.footer p {
    width: 417px;
    margin: auto;
    font-size: 0.875rem;
    text-align: center;
}

.link a {
    text-decoration: underline;
    color: #e5bfed;
    text-align: center;
}