@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
/* Dùng import thì page vào css, link thì nối trong index */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'sans-serif';
    color: #111111;
}

ul {
    list-style-type: none;
}

.header {
    height: 70px;
    background-color: #111111;
    color: #fff;

    padding: 0 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 32px;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu ul {
    display: flex;
}

.menu ul li {
    text-transform: uppercase;
    margin-left: 16px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #111111;
    opacity: 0.4;
    overflow: hidden;
    display: none;
    /* giá trị ban đầu none */
    z-index: 1000;
}

@media (max-width: 768px) {
    .menu-icon {
        display: inline-block;
        font-size: 1.5rem;
    }

    .menu ul {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        overflow: hidden;

        background-color: brown;
        flex-direction: column;

        transition: all 0.3s;
        z-index: 1001;
        /* do overlay che menu khi click nên set z-index menu lớn hơn để xh trên overlay */
    }

    .menu ul li {
        padding: 10px 0;
    }
}
